.pagination {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination em {
  color: gray;
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
}
.pagination button,
.pagination a,
.pagination .dropdown-item a {
  font-size: 1em;
}
/** Pagination buttons **/
.pagination button {
  background: transparent;
  border: 1px solid gray;
  margin: 0 0.25rem;
}
.pagination .pagination-btn.current-page {
  border-color: dodgerblue;
  background: lightblue;
}
/** Page Stats **/
.pagination .pagination-page-stats {
  display: flex;
  align-items: center;
}
/** pagination list **/
.pagination .pagination-page-list {
  display: flex;
  align-items: flex-end;
}
/* go to **/
.pagination .pagination-page-list .go-to-page-container {
  height: 100%;
  padding: 0;
  margin-left: 1rem;
}
.go-to-page-container input,
.go-to-page-container button {
  font-size: 1em;
  height: 100%;
}
